/*Estilo Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

}

body {
    background-color: black;
    height: 10vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contacto button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    margin-top: -25px;
    transition: .2s;
    transition: box-shadow 0.3s ease;
    margin-right: right 25px;
    /*Espaco ao lado direito do botao*/

}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00FF08;
}

button:hover,
form .btn-submeter input:hover {
    box-shadow: 0 0px 4px #00FF08;
    transform: scale(1.05);

}

/*Estilo Do Cabecalho*/
header {
    padding: 30px 3%;

}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}

.logo img,
.logo-footer img {
    height: 150px;
    height: 150px;
    /* Ajuste a altura desejada */
    border-radius: 50%;
    /* Faz a imagem ficar redonda*/
    margin-top: 5px;
    /* Menor espaçamento para telas menores */
    /*isto e para a logo*/
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
    transition: .2s;

}

header nav  ul {
    list-style-type: none;
    padding: 20px;
    margin-top: -30px;

}

header nav.menu-desktop ul li { 
    display: inline-block;
    padding: 0 40px;
}

header .btn-contacto button-wrapper {
    display: inline-block;
    margin-right: 20px;
    /* Espaço ao lado direito do botão */
}


/*Estilo do menu-mobile*/
.menu-mobile{
    background-color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 70%;    
}
.menu-mobile .btn-fechar {
    padding: 20px 4%;
    position: relative;/*definido o botao com referencia para o icone*/  
}
.menu-mobile .btn-fechar i {
    color: #00FF08;
    font-size: 30px;
    position: absolute;
    left: 10px;/*ajusta a posicao do icone para a esquerda*/
}
.menu-mobile nav ul{
    text-align: right;
}
.menu-mobile nav ul li a {
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
}
.menu-mobile nav ul li a:hover{
    background-color: #00FF08;
    color: #000;  
}


/*Estilo do topo do site*/

section .topo-do-site {
    padding: 40px 4%;

}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 100px;
    /*espacamento*/
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #00FF08;

}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
    /*distancia entre o h1 e o entre em contacto*/
}

.topo-do-site .img-topo-site img {
    width: 400px;
    /* largura do contêiner */
    height: 400px;
    /* altura do contêiner */
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(25% 6.7%,
            75% 6.7%,
            100% 50%,
            75% 93.3%,
            25% 93.3%,
            0% 50%);
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* aplicar o efeito flutuante na imagem*/
@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }

}

/*Estilo das Especialidades*/
section.Especialidades {
    padding: 40px 4%;
}

section.Especialidades .flex {
    gap: 60px;
}

.Especialidades .Especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 35px;
    /*um espacamento em  (dos icones e Minhas Especialidades)*/
    transition: .2s;
}

.Especialidades .Especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff78;
}

.Especialidades .Especialidades-box i {
    font-size: 70px;
    color: #00FF08;
}

.Especialidades .Especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/*Estilo do Sobre*/

section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 45px;
    line-height: 45px;
    /*espaco de cima Muito Prazer com o sou a Kayla*/
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #00FF08;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0%;
    text-align: justify;
}

.butao-rede-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00FF08;
    font-size: 20px;
    cursor: pointer;
    margin: 0 8px;
    transition: .2s;
}
/*Estilo do Formulario*/
section .formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    /*para nao ser redimensionado*/
}

form .btn-submeter {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 60px;
    /*Espaco entre o sobreamento e o butao de submeter*/
}

form .btn-submeter input {
    width: 150px;
    background-color: #00FF08;
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;

}

/*Estilo do Rodape*/
footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;

}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 4px solid #00FF08;
}

footer .line-footer p i {
    color: #00FF08;
    font-size: 30px;
}

footer .line-footer p a {
    color: #fff;
    font-size: 22px;
}

/*conversao de computador e celular*/
@media screen and (max-width: 1360px) {

    /*Classes gerais*/
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }
    .sobre .flex{
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px; ;
    }

    /*Cabecalho*/
    .menu-desktop,
    .btn-contacto {
        display: none;
    }

    /*Topo do Site*/
    section.topo-do-site .flex {
        gap: 40px; /*espacamento*/
    }

    section .topo-do-site {
        padding: 20px 8%;

    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /*Estilo das Especialidades*/
    section.Especialidades {
        padding: 30px 8%;
    }
    /*Sobre*/
    section.sobre {
        padding: 80px 8%;
    }
    .sobre .txt-sobre h2 {
        font-size: 40px;
        line-height: 40px;
        /*espaco de cima Muito Prazer com o sou a Kayla*/
      text-align: center;
    }
    .butao-rede-social  {
        text-align: center;
       
    }
    .img-sobre img{
        width: 100%;

    }
    /*Formulario*/
    form {
      width: 85%;
    }
    /*Rodape*/
    footer .line-footer{
        text-align: center;
    }

}