* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
     background-color: #121212;  
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
}


.capture-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.capture-section .info {
    max-width: 500px;
    margin-bottom: 20px;
}

.capture-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #4eb8f7;
}

.capture-section p {
    margin-top: 05vh;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .capture-section {
        flex-direction: row;
        justify-content: space-between;
    }

    .image img {
        width: 300px;
        border-radius: 10px;
        position: relative;
    }
} 

.form input {
    margin-top: 05vh;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: #fff;
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: #4eb8f7;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.event-info {
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;
}

.countdown-section {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
}

.countdown {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    margin-top: 10px;
}

.countdown div {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
}

.contact-section, .projects-section {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

.contact-section a, .projects-section a {
    color: #4eb8f7;
    text-decoration: none;
}

.projects-section ul {
    list-style: none;
}

.projects-section ul li {
    margin: 5px 0;
}


