body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 05px;
   
}
 .butao-rede-social{
  display: flex;
    flex-direction: inherit;
    justify-content: space-between;
 }
 .butao-rede-social button  {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #f5c654;
    font-size: 20px;
    cursor: pointer;
    margin: 0 8px;
    transition: .2s;
 }
 /* Estilizando o ícone de envelope */
.bi-envelope {
    color: #f5c654; /* Cor do ícone de envelope, substitua por qualquer cor desejada */
}

/* Estilizando o link do e-mail */
a[href^="mailto"] {
    color: #ffffff; /* Cor branca para o texto do e-mail */
    text-decoration: none; /* Remove o sublinhado, se preferir */
}

/* Para mudar a cor do e-mail ao passar o mouse (opcional) */
a[href^="mailto"]:hover {
    color: #cccccc; /* Cor ao passar o mouse sobre o e-mail */
}

/* Selecione o link específico "Inicio" no menu */
ul{
    list-style-type: none;
}

ul li a[href="index.html"] {
    margin-left: 1px;
    text-decoration: none; /* Remove o sublinhado do link */
    color: white; /* Define a cor do texto */
    font-weight: bold; /* Define o texto como negrito */
   
}

/* Efeito ao passar o mouse */
ul li a[href="index.html"]:hover {
    color: #f5c654; /* Muda a cor do texto ao passar o mouse */
}
 ul li a  {
line-height: 1.5;

}
div a{
    margin-left: 1px;
}