body{
    background-color: grey;
    color: white;
    align-items: center;
   
}
body :hover{
    color: #f5c564;
}
/* Selecione o link específico "Inicio" no menu */
ul li a[href="index.html"] {
margin-right: 50px;
    text-decoration: none; /* Remove o sublinhado do link */
    color: white; /* Define a cor do texto */
    font-weight: bold; /* Define o texto como negrito */
   
}
ul li {
    list-style-type: none;
}

/* Efeito ao passar o mouse */
ul li a[href="index.html"]:hover {
    color: #f5c654; /* Muda a cor do texto ao passar o mouse */
}